table{
	background-color: #808080;
	margin: auto;
}
#Result{
	width: 99%;
	height: 35px;
}
.btn{
	width: 68px;
	height: 64px;
}
#equ{
	width: 68px;
	height: 132px;
}
#zero{
	width: 144px;
	height: 64px;
}