ul li{
	list-style-type:  circle;
}
ol li{
	list-style-type: upper-alpha;
}
ul li.icon{
	list-style-image: url('icon.jpg');
}
ul li:nth-child(2){
	list-style-type: square;
}
a{
	text-decoration: none;
}