body{
	width: 83%;
	height: 490px;
	padding:0;
	margin: 0 auto;
	margin-bottom: 5px;
	font-size: 18px;
	border: 2px solid green;
}
h1{
	color: red;
	text-align: center;
}
.submit{
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	padding-bottom: 25px;
}
.left{
	width: 49.9%;
	height: 400px;
	border-right: 2px solid blue;
	float: left;
	background: lightgrey;
}
.right{
	width: 49.9%;
	height: 400px;
	float: left;
	background: lightgreen;
}
h3,table,p{
	padding-left: 50px;
}

